/* ЗАДАНИЕ 15 */
* {
    font-family: sans-serif;
}

p, h1 {
    color: wheat;
}

body {
    background-color: #3f3f4d;
}

.soderzhanie {
    display: inline-block;
    background-color: grey;
    border-radius: 5px;
    color: white;
    padding: 15px;
    margin-top: 15px;
}

li a {
    color: white;
    text-decoration: none;
}